/* 폰트 로드 */
@font-face {
	font-family: 'PartialSansKR-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KOTRAHOPE';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTTtangsbudaejjigaeB';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/* 전체 스타일 */
body {
	font-family: 'TTTtangsbudaejjigaeB';
	margin: 0;
	padding: 0;
}

/* 헤더 스타일 */
header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(128, 128, 255);
	/* 연보라색 배경색상 */
	color: rgb(46, 46, 46);
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	z-index: 1000;
}

/* 섹션 스타일 */
section {
	position: relative;
	border: 5px solid rgb(128, 128, 255);
	border-radius: 3%;
	margin-top: 55px;
	float: inline-start;
	margin-left: 200px;
	display: grid;
	justify-content: center;
}

.card-title {
	width: 213px;
	height: 24px;
}

.col-md-3 {
	margin-bottom: 11px;
}

/* 로그인 및 회원가입 버튼 스타일 */
.login-button,
.register-button {
	cursor: pointer;
	padding: 5px 10px;
	background-color: rgb(64, 128, 128);
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

/* 버튼 호버 효과 */
.login-button:hover,
.register-button:hover {
	background-color: rgb(0, 128, 128);
}

/* 팝업 스타일 */
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	justify-content: center;
	align-items: center;
}

.popup-content {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	width: 300px;
	position: relative;
}

.login-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-form label {
	margin-bottom: 5px;
}

.login-form input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.login-form button {
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.login-form button:hover {
	background-color: #0056b3;
}

.close-button {
	position: absolute;
	top: 5%;
	right: 5%;
	cursor: pointer;
	font-size: 24px;
	color: #333;
}

/* 사이드바 스타일 */
aside {
	position: fixed;
	left: 0;
	top: 54px;
	width: 200px;
	background-color: rgb(128, 128, 255);
	color: #fff;
	height: 100%;
	overflow: auto;
}

aside a {
	padding: 15px 25px;
	text-decoration: none;
	color: #fff;
	display: block;
	width: auto;
}

aside a:hover {
	background-color: rgb(128, 128, 128);
	width: auto;
}

aside a img {
	padding: 0;
	margin: 0;
}

/* 드롭다운 메뉴 스타일 */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: rgb(0, 0, 0);
	z-index: 1;
}

.dropdown-content a {
	padding: 15px 16px;
	text-decoration: none;
	display: block;
	color: #fff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* 로고 및 회원가입 폼 스타일 */
.register-logo {
	background-color: rgb(128, 128, 255);
	/* 연보라색 배경색상 (연하게 조정) */
	padding: 10px;
	/* 상하좌우 여백 추가 */
}


.register-logo a img {
	width: auto;
	height: 80px;
	/* 로고 이미지 크기 축소 */
}

.signup-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}

.signup-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.signup-form {
	display: flex;
	flex-direction: column;
}

.signup-form label {
	margin-bottom: 5px;
}

.signup-form input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.signup-form button {
	font-family: 'TTTtangsbudaejjigaeB';
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.signup-form button:hover {
	background-color: #0056b3;
}

.modInfo-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}

.modInfo-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.modInfo-logo {
	background-color: rgb(128, 128, 255);
	/* 연보라색 배경색상 (연하게 조정) */
	padding: 10px;
	/* 상하좌우 여백 추가 */
}


.modInfo-logo a img {
	width: auto;
	height: 80px;
	/* 로고 이미지 크기 축소 */
}

.modInfo-form {
	display: flex;
	flex-direction: column;
}

.modInfo-form label {
	margin-bottom: 5px;
}

.modInfo-form input {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.modInfo-form button {
	font-family: 'TTTtangsbudaejjigaeB';
	padding: 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.modInfo-form button:hover {
	background-color: #0056b3;
}

.album-container {
	display: inline-flex;
	margin-top: 20px;
}

.album-cover {
	width: auto;
	/* 왼쪽 이미지 컨테이너의 너비 조절 */
	padding: 20px;
	display: inline-block;
	margin-right: 10px;
}

.album-cover img {
	width: 350px;
	height: 350px;
}

.album-info {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	/* 오른쪽 정보 컨테이너의 너비 조절 */
	padding: 20px;
}

.album-info p {
	margin-bottom: 10px;
}

.album-info h1{
	font-size: 28px;
}

.album-intro textarea {
	width: 100%;
	height: 200px;
	resize: none;
	line-height: 19px;
}